*.json
.env
.gitignore
/.idea
/venv
*.db
__pycache__/
/data
/.DS_Store
/client/.DS_Store
/client/node_modules
/client/build
/client/.svelte-kit
/client/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
