<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <title>Title</title>
</head>
<body>
<h1>Welcome to FlaskBlog</h1>
<div id="items">
    {%for item in data %}
    <p id={{item[1]}}>{{item[1]}} - {{item[3]}}</p>
    {% endfor %}
</div>

<div id="modal-1" class="jw-modal">
    <div class="jw-modal-body">
        <h1>A custom modal popup</h1>
        <ul id="model-data"></ul>
        <button onclick="closeModal()">Close</button>
    </div>
</div>
</body>
</html>