* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
}

main {
    height: 100%;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.table-box {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    gap: 25px;
}

.receipt-list {
    overflow-x: auto;
    flex-grow: 1;
    width: 50%;
}

.container.summary {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 30px 0 0 0;
}

article p {
    margin: 0;
}

article {
    padding: 25px;
}

article hgroup {
    margin: 0;
}

.summary article {
    flex-grow: 1;
    margin: 0;
}

table {
    border-top: 0 solid black;
}


th {
    position: sticky;
    top: 0;
    background: var(--card-background-color);
    border-top: 0 solid black;
    font-weight: 800;
}




#modal article {
    max-height: 90vh;
    background: var(--background-color);
}

.modal-items {
    margin-top: var(--typography-spacing-vertical);
    overflow-x: auto;
    height: 70vh;
}

#modal footer {
    margin-top:10px;
}

#refreshBtn {
    width: 32px;
    height: 32px;
    padding: 6px;
    margin: 0 0 0 12px;
}

#refreshBtn svg {
    position: relative;
    top: -1px;
    opacity: 0.6;
    fill: white;
    transition: all 0.6s;
}

#refreshBtn svg:hover {
    opacity: 1;
    fill: #d81b60;
}

.title-box {
    display: flex;
    align-items:  center;
}

.title-box h1 {
    margin: 0px;
}