* {
  box-sizing: border-box;
}

.receipt-list {
    height: 30vh;
    overflow-x: auto;
}

.container.summary {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

article p{
    margin: 0;
}

article hgroup {
    margin: 0;
}